<div class=post__main>
  <%= link_to 'posts/new' do%>  
    <i class="fas fa-upload fa-2x"></i>
  <% end %>

  <%= link_to  new_tweet_path do%>  
    <i class="fas fa-clipboard-list fa-2x"></i>
  <% end %>
    <div class=post__main__list>
    <% @posts.each do |post| %> 
      <div class=post__main__list__text>
        <div class=post__main__list__text--title>
         <%=post.text%>
        </div>
        <div class=post__main__list__text--icon>
         <%=link_to "/posts/#{post.id}" do %>
        <i class="fas fa-play-circle fa-2x"></i>
        <% end %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
  <div class=tweet>
    <div class=tweet__list>
       <% @tweets.each do |tweet| %>
        <div class=tweet__list__text>
         <div class=tweet__list__text__title>
          <%=tweet.title%>
          </div>
          <div class=tweet__list__text__text>
          <%=tweet.text%>
         </div>
      </div>
      <%end%>
    </div>
  </div>
