<!DOCTYPE html>
<html>
  <head>
    <title>Athlete</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class=header>
    <div class=header--title>
    <%= link_to "athlete", root_path, class: "header--title--text" %>
    </div>
    <div class=header--logout>
    <%=link_to "log out", '#', class: "header--logout--btn" %>
    </div>
  </div>
  </header>

    <%= yield %>

  </body>
</html>
